body {
    font-family: 'Arial', sans-serif;
    background-color: #EEF5FF;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.3s ease;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: #176B87;
    position: relative;
    transition: color 0.3s ease;
}

.tab::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #86B6F6;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.active-tab {
    color: #86B6F6;
}

.active-tab::after {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #B4D4FF;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #B4D4FF;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #176B87;
    transition: border-color 0.3s ease, color 0.3s ease;
}
input:hover{
    border: 1px solid rgb(129, 199, 129);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #86B6F6;
    color: #EEF5FF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
